.jumbotron {
  background-color: #f25200;
  color: #272536;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  height: 125px;
  text-align: center;
}

body {
  background-color: #e6e2d2;
  color: #272536;
  text-align: center;
}

.row {
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;

}

.thead-light {
  background-color: #00bab4;
  border-color: #272536;
}

.col-sm-6 {
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.table {
  background-color: #00bab4;
}
