.jumbotron {
  background-color: #f25200;
  color: #272536;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  height: 9em;
  text-align: center;
  justify-content: center;
  overflow: auto;
}

body {
  background-color: #e6e2d2;
  color: #272536;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
}

.row {
  text-align: center;
}

.jumbotron h1 {
  padding-top: 20px;
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;
}

.jumbotron h4 {
  font-size: 1.5em;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.col-sm-6 {
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.attributes,
.data {
  background-color: #00bab4;
}

.thead-light {
  background-color: #E9ECEF;
}


.stats,
.movesets,
.legendaries {
  margin-top: 20px;
}

p {
  margin: 0 30px;
}

h6 {
  margin: 5px 30px;
  font-weight: bold;
  font-size: 20px;
}
