<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Legendary Pokemon</title>

  </head>
  <body>

    <div class="jumbotron">
      <h1>Legendary Pokemon Learning</h1>
      <h4>Can we use pokemon stats from gens 1-6 to predict legendary pokemon from gens 7 and 8?</h4>
    </div>
    <div class="tables row">
      <div class="col-sm-6">
        <h3>Comparing Model Accuracies</h3>
        <table class="table table-bordered">
          <thead class='thead-light'>
            <th>Model</th>
            <th>Precision (Gen 7)</th>
            <th>Precision (Gen 8)</th>
          </thead>
          <tbody id="accuracy-table"></tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <center><h3>The Most Accurate Model: Logistic Regression</h3></center>
        </div>
        <div class="row">
          <center><h5>Gen 7</h5></center>
          <table class="gen-7-table table table-bordered">
            <thead class='thead-light'>
              <th>Precision</th>
              <th>Recall</th>
              <th>F1 Score</th>
              <th>Support</th>
            </thead>
            <tbody id="best-table-gen-7"></tbody>
          </table>
          <center><h5>Gen 8</h5></center>
          <table class="gen-8-table table table-bordered">
            <thead class='thead-light'>
              <th>Precision</th>
              <th>Recall</th>
              <th>F1 Score</th>
              <th>Support</th>
            </thead>
            <tbody id="best-table-gen-8"></tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="stats">
      <h3>Average Stats for Legendary Pokemon vs Average Stats for Non-Legendary Pokemon</h3>
      <!--tableau embed-->
    </div>
    <div class="movesets">
      <h3>Moves Learned by Legendary Pokemon</h3>
      <!--tableau embed-->
      <div class='tableauPlaceholder' id='viz1628820784396' style='position: relative'>
        <noscript>
          <a href='#'><img alt='Legendary Pokemon Moves ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemonMoves&#47;LegendaryPokemonMoves&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
          <param name='name' value='LegendaryPokemonMoves&#47;LegendaryPokemonMoves' />
          <param name='tabs' value='no' /><param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemonMoves&#47;LegendaryPokemonMoves&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1628820784396');
        var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
    <div class="legendaries">
      <h3>Number of Legendary Pokemon per Generation</h3>
      <!--tableau embed-->
      <div class='tableauPlaceholder' id='viz1628819599388' style='position: relative'>
        <noscript><a href='#'>
          <img alt='Sheet 11 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemon_16288193881580&#47;Sheet11&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
          <param name='name' value='LegendaryPokemon_16288193881580&#47;Sheet11' />
          <param name='tabs' value='no' /><param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemon_16288193881580&#47;Sheet11&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1628819599388');
        var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/logic.js"></script>

  </body>
</html>
