<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap" rel="stylesheet">
    <title>Legendary Pokemon</title>

  </head>
  <body>

    <div class="jumbotron">
      <h1>Legendary Pokemon Learning</h1>
      <h4>Can we use pokemon stats from generations 1-6 to predict legendary pokemon from generations 7 and 8?</h4>
    </div>
    <div class="tables">
      <div class="col-sm-12">
        <h3>Comparing Model Accuracies</h3>
        <table class="table table-bordered attributes table-responsive-lg">
          <thead class='thead-light'>
            <th>Model</th>
            <th>Accuracy (Gen 7)</th>
            <th>Accuracy (Gen 8)</th>
            <th>R-Squared (Gen 7)</th>
            <th>R-Squared (Gen 8)</th>
          </thead>
          <tbody id="accuracy-table"></tbody>
        </table>
        <p>Here we have the confusion matrix analysis calculations (plus the r-squared values) for the logistic regression models. We can see that the model was much better at predicting legendary pokemon in generation 8 than generation 7 (precisions of 0.975 and 0.857 respectively), but it was still pretty good at the predictions overall. Generation contained 118 total pokemon to test the model, and generation 8 contained 117 total pokemon to test the model. The model was trained with the entirety of generations 1 to 6, which is a total of 817 pokemon.</p>
      </div>
      <div class="col-sm-12">
          <h3>The Most Accurate Model: Logistic Regression</h3>
          <div class="row">
            <div class="col-sm-6">
              <center><h5>Attributes: Gen 7</h5></center>
              <table class="gen-7-table table attributes table-bordered table-responsive-lg">
                <thead class='thead-light'>
                  <th>R-Squared</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1 Score</th>
                  <th>Support</th>
                </thead>
                <tbody id="best-table-gen-7"></tbody>
              </table>
              <center><h5>Confusion Matrix: Gen 7</h5></center>
              <table class="gen-7-table table table-bordered table-responsive-lg">
                <thead class='thead-light'>
                  <th></th>
                  <th colspan="3">Predicted Class</th>
                </thead>
                <tbody>
                  <tr class='thead-light'>
                    <td rowspan="3" style="font-weight:bold">Actual Class</td>
                    <td> </td>
                    <td>Legendary</td>
                    <td>Non-Legendary</td>
                  </tr>
                  <tr>
                    <td class='thead-light'>Legendary</td>
                    <td class='data'>{{ attr[0].TP }}</td>
                    <td class='data'>{{ attr[0].FN }}</td>
                  </tr>
                  <tr>
                    <td class='thead-light'>Non-Legendary</td>
                    <td class='data'>{{ attr[0].FP }}</td>
                    <td class='data'>{{ attr[0].TN }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <center><h5>Attributes: Gen 8</h5></center>
              <table class="gen-8-table table attributes table-bordered table-responsive-lg">
                <thead class='thead-light'>
                  <th>R-Squared</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1 Score</th>
                  <th>Support</th>
                </thead>
                <tbody id="best-table-gen-8"></tbody>
              </table>
              <center><h5>Confusion Matrix: Gen 8</h5></center>
              <table class="gen-8-table table table-bordered table-responsive-lg">
                <thead class='thead-light'>
                  <th></th>
                  <th colspan="3">Predicted Class</th>
                </thead>
                <tbody>
                  <tr class='thead-light'>
                    <td rowspan="3" style="font-weight:bold">Actual Class</td>
                    <td> </td>
                    <td>Legendary</td>
                    <td>Non-Legendary</td>
                  </tr>
                  <tr>
                    <td class='thead-light'>Legendary</td>
                    <td class='data'>{{ attr[1].TP }}</td>
                    <td class='data'>{{ attr[1].FN }}</td>
                  </tr>
                  <tr>
                    <td class='thead-light'>Non-Legendary</td>
                    <td class='data'>{{ attr[1].FP }}</td>
                    <td class='data'>{{ attr[1].TN }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>Here we have the confusion matrix and analysis calculations (plus the r-squared values) for the logistic regression models. We can see that the model was much better at predicting legendary pokemon in generation 8 than generation 7 (precisions of 0.975 and 0.857 respectively), but it was still pretty good at the predictions overall. Generation contained 118 total pokemon to test the model, and generation 8 contained 117 total pokemon to test the model. The model was trained with the entirety of generations 1 to 6, which is a total of 817 pokemon.</p>
      </div>
    </div>
    <div class="stats">
      <h3>Average Stats for Legendary Pokemon vs Average Stats for Non-Legendary Pokemon</h3>
      <!--tableau embed-->
      <div class='tableauPlaceholder' id='viz1628951337494' style='position: relative'>
        <noscript>
          <a href='#'><img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AvgPokemonStats_16289050407430&#47;Story1&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='AvgPokemonStats_16289050407430&#47;Story1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AvgPokemonStats_16289050407430&#47;Story1&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1628951337494');
        var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
      <div class="row tableau-analysis">
        <h6>Using Average Stats to Determine Legendary Status:</h6>
        <p>In the games, legendary pokemon tend to be stronger, faster, and harder to catch than normal pokemon. We used the pokemon's average stats (attack, defense, capture rate, HP, speed, and starting experience) as a way to help train the model to determine the legendary status of a pokemon. From these plots, we see that legendary pokemon on average have 47% higher attack, 36% higher defense, are 2.4x harder to catch, have 41% more HP, are 51% faster, and have more than 2x the starting experience than normal, non-legendary pokemon. Because these stats are significantly different between non-legendary and legendary pokemon, looking at these stats was an indicator of the legendary status.</p>
      </div>
    </div>
    <div class="movesets">
      <h3>Moves Learned by Legendary Pokemon</h3>
      <!--tableau embed-->
      <div class='tableauPlaceholder' id='viz1628820784396' style='position: relative'>
        <noscript>
          <a href='#'><img alt='Legendary Pokemon Moves ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemonMoves&#47;LegendaryPokemonMoves&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
          <param name='name' value='LegendaryPokemonMoves&#47;LegendaryPokemonMoves' />
          <param name='tabs' value='no' /><param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemonMoves&#47;LegendaryPokemonMoves&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1628820784396');
        var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
      <div class="row tableau-analysis">
        <h6>Using Abilities to Determine Legendary Status:</h6>
        <p>Moves/attacks/abilities aren't necesarily unique to legendary pokemon, however some legendary pokemon do have 'signature moves', or moves that are legendary exclusive. For this reason, we decided to include abilities in the legendary status determination. Pictured here are the moves held by legendary pokemon, and how many legendary pokemon have each move.</p>
      </div>
    </div>
    <div class="legendaries">
      <h3>Legendary Pokemon per Generation</h3>
      <!--tableau embed-->
      <div class='tableauPlaceholder' id='viz1628951249255' style='position: relative'>
        <noscript>
          <a href='#'><img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemon_16289086020680&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='LegendaryPokemon_16289086020680&#47;Dashboard2' />
          <param name='tabs' value='no' /><param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LegendaryPokemon_16289086020680&#47;Dashboard2&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
        </object>
      </div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1628951249255');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';}
        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';}
        else { vizElement.style.width='100%';vizElement.style.height='727px';}
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
      <div class="row tableau-analysis">
        <h6>A Quick Look At Legendary Pokemon by Generation:</h6>
        <p>The number of pokemon per generation varies, so it wasn't used in determining the legendary status of a pokemon. It is interesting though, to see how the number grows for just about every generation. Part of this is the introduction of evolving legendaries (for example, Cosmog in generation 7 evolves into Cosmoem, who then split evolves into Solgaleo and Lunala depending on which version of the generation 7 game you're playing (Sun or Moon)). Another aspect is the release of 'new' games that are essentially patches of the old games that introduce new pokemon mid-generation (like Ultra Sun and Ultra Moon).</p>
      </div>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/logic.js"></script>

  </body>
</html>
